<ion-header class="main-header remove">
    <ion-navbar>
        <ion-title>{{ 'My Complaints' | translate }}</ion-title>
    </ion-navbar>
    
    <!-- *ngIf="complaint_count!='0'" -->
    <!-- <ion-toolbar>
        <div class="serach-filter">
            <ion-list>
                <ion-item>
                    <ion-input placeholder="{{ 'Search' | translate }}" type="text" name='search'  [(ngModel)]="filter.search" (ngModelChange)="getComplaintlist()"></ion-input>
                    <ion-select name="status" [(ngModel)]="filter.status"  [okText]="'OK' | translate" [cancelText]="'Cancel' | translate" (ngModelChange)="getComplaintlist(data.type)">
                        <ion-option value="">{{ 'All' | translate }}</ion-option>
                        <ion-option value="Pending">{{ 'Pending' | translate }}</ion-option>
                        <ion-option value="Closed">{{ 'Closed' | translate }}</ion-option>
                        <ion-option value="Cancel">{{ 'Cancel' | translate }}</ion-option>
                    </ion-select>
                </ion-item>
            </ion-list>
            
        </div>
    </ion-toolbar> -->
    
    
    <ion-toolbar color="white">
        <div class="ion-tab-btn">
            <ion-segment [(ngModel)]="complaint">
                <!-- <ion-segment-button value=""  (click) ="getComplaintlist('', '')">
                    All
                </ion-segment-button> -->
                <ion-segment-button value="Pending" (click) ="getComplaintlist(data.type , complaint )">
                    {{'Pending' | translate}}
                </ion-segment-button>
                <ion-segment-button value="Closed" (click) ="getComplaintlist(data.type , complaint)">
                    {{'Closed' | translate}}
                </ion-segment-button>
                <ion-segment-button value="Cancel" (click) ="getComplaintlist(data.type , complaint)">
                    {{'Cancel' | translate}}
                </ion-segment-button>
            </ion-segment>
        </div>
    </ion-toolbar>
    
</ion-header>

<ion-content>
    
    
    
    <div *ngIf="!complaint_list.length" class="data-not">
        <img  src="assets/imgs/no_found.svg">
    </div>
    
    <ion-refresher (ionRefresh)="doRefresh($event, complaint)">
        <ion-refresher-content  pullingIcon="arrow-dropdown"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"
        refreshingText="Refreshing...">
    </ion-refresher-content>
</ion-refresher>


<div class="main-history" *ngIf="complaint_list.length">
    <div class="cs-list" *ngFor="let val of complaint_list; let i=index">
        <div class="top-block">
            <p>{{val.customerName | titlecase}} <span class="cs-badge">{{val.complain_no}}</span></p>
            <div class="number-block">
                <span>{{val.customerMobileNo}}</span>
                <a class="dialer" href="tel:{{val.customerMobileNo}}"><ion-icon ios="ios-call" md="md-call"></ion-icon></a>
            </div>
        </div>
        <div class="middle-block" (click)="plumberDetail(val.id)">
            <div class="date-status">
                
                <p><strong>{{ 'Date' | translate }}:</strong>{{dateFormat(val.date_created)}}</p>
                <p><strong>{{'Status' | translate}}: </strong><span class="{{val.status}}">{{val.status | titlecase}}</span> </p>
            </div>
            
            <div class="date-status">
                <p *ngIf="val.category != ''"><strong>{{ 'Category' | translate }}:</strong> {{val.category}}</p>
                <p *ngIf="val.issue_category != ''"><strong>{{ 'Issue' | translate }}:</strong> {{val.issue_category}}</p>
            </div>
            <!-- <p *ngIf="val.nature_problem != ''"><strong>{{ 'Complaint Remark' | translate }}:</strong> {{val.nature_problem}}</p> -->
            
        </div>
        <div class="top-block footer-block" (click)="plumberDetail(val.id)">
            <p><span>{{ 'Address' | translate}}:</span> {{val.address | titlecase}} {{val.city | titlecase}} {{val.district | titlecase}} {{val.state | titlecase}} {{val.pincode}}</p>
        </div>
    </div>
    
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)"  *ngIf="flag!=1">
        <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data...">
    </ion-infinite-scroll-content>
</ion-infinite-scroll>
</div>



</ion-content>

