page-my-camplaints {
    .serach-filter > ion-list{
        width: 100%;
    }

    .footer-block{

        p{
            font-weight: normal !important;

            span{
                font-weight: 600;
            }
        }
    }
}
