<!-- <div *ngIf="dbService.userStorageData?.type == 'Customer'" class="tabs">
    <ion-tabs  selectedIndex= {{index}}>
        <ion-tab [root]="tab1Root" tabTitle="{{ 'Home' | translate }}" tabIcon="tab-home"></ion-tab>
        <ion-tab [root]="tab2Root" tabTitle="{{ 'New Arrivals' | translate }}" tabIcon="tab-arrivals"></ion-tab>
        <ion-tab [root]="tab3Root" tabTitle="{{ 'Contact Us' | translate }}" tabIcon="tab-contact"></ion-tab>
        <ion-tab [root]="tab4Root" tabTitle="{{ 'About BIUT' | translate}}" tabIcon="tab-about"></ion-tab>
        <ion-tab [root]="tab8Root" tabTitle="{{ 'Profile' | translate}}" tabIcon="tab-profile"></ion-tab>
      </ion-tabs>
</div> -->

<!-- *ngIf="dbService.userStorageData.type == 'Plumber'"  -->
<!-- <div  *ngIf="dbService.userStorageData?.type == 'Plumber'" class="tabs">
    <ion-tabs selectedIndex= {{index}}>
        <ion-tab [root]="tab1Root" tabTitle="{{'Home' | translate}}" tabIcon="tab-home"></ion-tab>
        <ion-tab [root]="tab5Root" tabTitle="{{'Offers' | translate}}" tabIcon="tab-gift"></ion-tab>
        <ion-tab [root]="tab6Root" tabTitle="" tabIcon="center-tab"></ion-tab>
        <ion-tab [root]="tab7Root" tabTitle="{{'My Wallet' | translate}}" tabIcon="tab-points"></ion-tab>
        <ion-tab [root]="tab8Root" tabTitle="{{'Profile' | translate}}" tabIcon="tab-profile"></ion-tab>
      </ion-tabs>
</div> -->


<div *ngIf="dbService.userStorageData?.type == 'Retailer'" class="tabs">
  <ion-tabs  selectedIndex= {{index}}>
      <ion-tab [root]="tab1Root" tabTitle="{{ 'Home' | translate}}" tabIcon="tab-home"></ion-tab>
      <ion-tab [root]="tab2Root" tabTitle="{{ 'New Arrivals' | translate}}" tabIcon="tab-arrivals"></ion-tab>
      <ion-tab [root]="tab3Root" tabTitle="{{ 'Contact Us' | translate}}" tabIcon="tab-contact"></ion-tab>
      <ion-tab [root]="tab4Root" tabTitle="{{ 'About BIUT' |translate}}" tabIcon="tab-about"></ion-tab>
      <ion-tab [root]="tab8Root" tabTitle="{{ 'Profile' | translate}}" tabIcon="tab-profile"></ion-tab>
    </ion-tabs>
</div>

