page-cancelation-policy {
    .policy-text  h1{
            font-weight: 500!important;
            font-size: 18px!important;
            padding-bottom: 5px;
        }
    .policy-text p{
        line-height: 22px;
        font-size: 12px;
    }
}
