page-add-new-complaint {
    .flex-input{
        display: flex;
        align-items: center;
        grid-column-gap: 16px;
        
        .items-block {
            width: 100%;
        }
    }
    
    p.input-head{
        font-size: 12px;
        font-weight: bold;
        margin-top: 16px !important;
        padding-left: 5px;
    }
}
